<div class="container-fluid main">
    <div class="main1">
        <div class="landheader"><h1>Welcome to the Student-Portal</h1></div>
        <div class="row loginp">
            <div class="col-6">
                <img src="../assets/images/logo1.png" alt="Not Found">
            </div>
            <div class="col-6">
                <!-- <h1 class="head" id="h1">Welcome to the Student-Portal</h1> -->
                <app-login></app-login>
            </div>
        </div>
    </div>
    <!-- <button mat-raised-button (click)="opendialog()">Login</button> -->
    <app-footer></app-footer>
</div>

