<div class="login-container">
    <form class="loginform">
      <h2 class="h2login">Login</h2>
      <div [formGroup]="loginForm">
        <label class="loginlabel" id="loginlabel" for="username">Username:</label>
        <input #username class="loginput" type="text" id="username" name="username" formControlName="email" required>
      </div>
      <div [formGroup]="loginForm">
        <label class="loginlabel" id="loginlabel" for="password">Password:</label>
          <input #password class="loginput" type="password" id="password" name="password" formControlName="password" required> 
          <span (click)="togglePasswordVisibility(password)">
            <i class="fa" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
          </span>
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <button class="custom button1 lobut" (click)="login()">Login</button>
      <p>-----------------------------or-----------------------------</p>
    <div class="lobut1" id="google"></div>
    </form>
</div>
