<div class="container-fluid main">
    <div class="main1">
        <div class="row">
            <div class="col-10"><h1 class="head" id="h1">Add Class</h1></div>
            <div class="col-2"><h1 id="h1">{{ getLoggedInUserName() }}</h1></div>
        </div>
        <hr>
            <form class="" #form="ngForm" (ngSubmit)="addClass()">
                <div class="row">
                    <div class="col-6">
                        <div [formGroup]="formGrp" novalidate>
                            <label class="loginlabel" for="classname">Name:</label>
                            <input #classname class="loginput" type="text" id="classname" name="classname" [(ngModel)]="addClassrequest.name" formControlName="Name1"
                            ng-model-options="{standalone:true}"/>
                            <div *ngIf="mobno['Name1'].touched && mobno['Name1'].invalid" class="show">
                                <div *ngIf="mobno['Name1'].errors?.['required'] &&mobno['Name1'].dirty">*Please enter Class Name</div>
                                <div *ngIf="mobno['Name1'].errors?.['pattern'] &&mobno['Name1'].dirty">*Please enter Valid Class Name</div>
                            </div>
                        </div>
                        <div [formGroup]="formGrp" novalidate>
                            <label class="loginlabel" for="session">Session:</label>
                            <input #session class="loginput" type="text" id="session" name="session" [(ngModel)]="addClassrequest.session" formControlName="Name2" ng-model-options="{standalone:true}"/>
                            <div *ngIf="mobno['Name2'].touched && mobno['Name2'].invalid" class="show">
                                <div *ngIf="mobno['Name2'].errors?.['required'] &&mobno['Name2'].dirty">*Please enter Session</div>
                                <div *ngIf="mobno['Name2'].errors?.['pattern'] &&mobno['Name2'].dirty">*Please enter Valid Session</div>
                            </div>
                        </div>
                </div> 
            </div>     
                <br>
                <button type="submit" class="custom button1 ad" [disabled]="!formGrp.valid">Add</button>
                <button type="button" class="custom button1 ad del" (click)="btnClick1();">Back</button>
            </form>
    </div>
    <app-footer></app-footer>
</div>
