
<div class="container-fluid main">
  <div class="main1">
    <div class="row">
      <div class="col-10"><h1 class="head" id="h1">Add Student</h1></div>
      <div class="col-2"><h1 id="h1">{{ getLoggedInUserName() }}</h1></div>
    </div>
    <hr>
  <form #form="ngForm" (ngSubmit)="addStudent()">
   <div class="row">
     <div class="col-6">
        <div class="" [formGroup]="formGrp" novalidate>
          <label for="name" class="">Name:</label>
          <input
            type="text"
            class=""
            id="name"
            #st
            [(ngModel)]="addStudentrequest1.name"
            name="name"
            formControlName="Name1"
            ng-model-options="{standalone:true}"
          />
          <div *ngIf="mobno['Name1'].touched && mobno['Name1'].invalid" class="show">
            <div *ngIf="mobno['Name1'].errors?.['required'] &&mobno['Name1'].dirty">*Please enter Name</div>
            <div *ngIf="mobno['Name1'].errors?.['pattern'] &&mobno['Name1'].dirty">*Please enter Valid Name</div>
          </div>
        </div>
        <div class="" [formGroup]="formGrp" novalidate>
          <label for="mobile" class="">Mobile:</label>
          <input
            type="text"
            class=""
            id="mobile"
            [(ngModel)]="addStudentrequest1.mobile"
            name="mobile"
            (change)="Checkmobile(addStudentrequest1.mobile)"
            formControlName="mobileNumber"
            ng-model-options="{standalone:true}"
          />
          <div *ngIf="this.bool2" class="show">*Mobile Number Already exists!!</div>
          <div *ngIf="mobno['mobileNumber'].touched && mobno['mobileNumber'].invalid" class="show">
            <div *ngIf="mobno['mobileNumber'].errors?.['required'] &&mobno['mobileNumber'].dirty">*Please enter Mobile Number</div>
            <div *ngIf="mobno['mobileNumber'].errors?.['pattern'] &&mobno['mobileNumber'].dirty">*Please enter valid Mobile Number</div>
          </div>
        </div>
        <div class="">
          <label for="address2" class="">Address2:</label>
          <input
            type="text"
            class=""
            id="address2"
            [(ngModel)]="addStudentrequest1.address2"
            name="address2"
          />
        </div>
        

        <div class="">
          <label for="city">City:</label>
          <select
            id="city"
            class=""
            [(ngModel)]="addStudentrequest1.cityId"
            [(ngModel)]="selectedc"
            name="city"
          >
            <option selected>--Select City--</option>
            <option *ngFor="let city of cities" [value]="city.id">
              {{ city.name }}
            </option>
          </select>
        </div>
        <div class="">
          <div class="" *ngIf="courses.length > 0">
            <label for="course" class="">Course:</label>
            <select
              id="course"
              class=""
              [(ngModel)]="addStudentrequest1.courseId"
              [(ngModel)]="selectedco"
              name="course"
              #course
             (change)="onCourseChange();onClassChange();"
             >
             <option [selected]="true">--Select Course--</option>
              <option *ngFor="let course of courses" [value]="course.id">
                {{ course.name }}
              </option>
            </select>
          </div>
          <div class="">
            <label for="section">Section:</label>
            <select
              id="section"
              class=""
              [(ngModel)]="addStudentrequest1.sectionId"
              [(ngModel)]="selectedse"
              name="section"
            >
              <option selected>--Select Section--</option>
              <option *ngFor="let section of sections" [value]="section.id">
                {{ section.name }}
              </option>
            </select>
          </div>
        </div>
        <button type="submit" class="custom button1 ad" [disabled]="!formGrp.valid">Save</button>
        <button type="button" class="custom button1 ad del" (click)="btnClick1();">Back</button>
    </div>
    <div class="col-6">
      <div class="" [formGroup]="formGrp" novalidate>
        <label for="email" class="">Email:</label>
        <input
          type="text"
          class=""
          id="email"
          [(ngModel)]="addStudentrequest1.email"
          name="email"
          (change)="Checkemail(addStudentrequest1.email)"
          formControlName="eMail"
            ng-model-options="{standalone:true}"
        />
        <div *ngIf="this.bool1" class="show">*Email Id Already exists!!</div>
        <div *ngIf="mobno['eMail'].touched && mobno['eMail'].invalid" class="show">
          <div *ngIf="mobno['eMail'].errors?.['required'] &&mobno['eMail'].dirty">*Please enter Email Id</div>
          <div *ngIf="mobno['eMail'].errors?.['pattern'] &&mobno['eMail'].dirty">*Please enter valid Email Id</div>
        </div>
      </div>
      <div class="">
        <label for="address1" class="">Address1:</label>
        <input
          type="text"
          class=""
          id="address1"
          [(ngModel)]="addStudentrequest1.address1"
          name="address1"
        />
      </div>
      <div class="" *ngIf="states.length > 0">
        <label for="state" class="">State:</label>
        <select
          id="state"
          class=""
          [(ngModel)]="addStudentrequest1.stateId"
          [(ngModel)]="selecteds"
          name="state"
          #state
         (change)="onStateChange()"
         >
         <option [selected]="true">--Select State--</option>
          <option *ngFor="let state of states" [value]="state.id">
            {{ state.name }}
          </option>
        </select>
      </div>
      <div class="">
        <label for="maritalStatus" class="">Marital Status:</label>
        <select id="maritalStatus" class="" [(ngModel)]="addStudentrequest1.maritalStatus" name="maritalStatus" [(ngModel)]="selectedms">
          <option [selected]="true">--Select Marital Status--</option>
        <option value="0">Single</option>
        <option value="1">Married</option>
        <option value="2">Separated</option>
        </select>
      </div>
      <div class="">
        <label for="class">Class:</label>
        <select
          id="class"
          class=""
          [(ngModel)]="addStudentrequest1.classId"
          [(ngModel)]="selectedcl"
          name="class"
          #class
          (change)="onClassChange()"
        >
          <option selected>--Select Class--</option>
          <option *ngFor="let class of classes" [value]="class.id">
            {{ class.name }}
          </option>
        </select>
      </div>
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          value="0"
          id="gender"
          name="gender"
          [(ngModel)]="addStudentrequest1.gender"
        />
        <label for="gender" class="form-check-label">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          value="1"
          id="gender"
          name="gender"
          [(ngModel)]="addStudentrequest1.gender"
        />
        <label for="gender" class="form-check-label">Female</label>
      </div>
    </div>
  </div>
  </form>
  </div>
  <app-footer></app-footer>
</div>
