<div class="container-fluid main">
    <div class="main1">
      <div class="row">
        <div class="col-10"><h1 id="h1">Student Management</h1></div>
        <div class="col-2"><h1 id="h1">{{ getLoggedInUserName() }}</h1></div>
      </div>
      <hr>
      <!-- <div class="row">
        <div class="col-12">
          <label for="management">Select Management:</label>
          <select id="management" class="" name="management" (change)="btnClick1();" #management [(ngModel)]="selectedm">
            <option [selected]="true">--Select Management--</option>
            <option value="user">User Management</option>
            <option value="role">Role Management</option>
          </select>
          <button type="button" class="custom button1 ad" (click)="btnClick1();" title="User Management"><i class="fa fa-user"></i></button> 
          <button type="button" class="custom button1 ad del" title="Role Management"><i class="fa fa-gears"></i></button>
        </div>
      </div> -->
     <div class="row">
      <div class="col-2">
        <div class="rap">
          <button type="button" class="custom button1 ad" (click)="btnClick();" title="Add"><i class="fa fa-plus"></i></button>  
          <button type="button" class="custom button2 ad del" (click)="confirmDialog();" [disabled]="selectedRecordIds.length === 0" title="Delete"><i class="fa fa-trash "></i></button>
        </div>
      </div>
      <!-- <div class="col-2">
        <label for="management">Select Management:</label>
          <select id="management" class="" name="management" (change)="btnClick1();" #management [(ngModel)]="selectedm">
            <option [selected]="true">--Select Management--</option>
            <option value="user">User Management</option>
            <option value="role">Role Management</option>
            <option value="course">Course Management</option>
            <option value="teacher">Teacher Management</option>
          </select>
      </div> -->
      <!-- <div class="col-6">
        <div>
          <label for="">Search:</label>
          <input type="text" placeholder="Search By Name" name="name" [(ngModel)]="name" (ngModelChange)="search()">
        </div>
        <div>
        </div>
      </div> -->
      <!-- <div class="col-1">
        <div>
          <label for="pagesize">Page Size:</label>
          <select id="pagesize" class="" name="pagesize" (change)="onPageSizeChange()" #pagesize>
            <option [selected]="true" value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div> -->
      <div class="col-1 rap1">
        <button id="h2" type="button" class="custom button1 ad" (click)="exportToExcel()" title="Export to Excel"><i class="fa fa-file"></i></button>
      </div>
     </div>
     <!-- <div class="table-responsive">
      <table id="students" *ngIf="students&&students.length>0">
        <thead>
          <tr>
            <th>Select</th>
            <th>#</th>
            <th (click)="toggleSort('code')">Code <i *ngIf="clicked" class="fa fa-sort-{{sortAsc===true? 'asc':'desc'}}"></i></th>
            <th (click)="toggleSort('name')">Name <i *ngIf="clicked" class="fa fa-sort-{{sortAsc===true? 'asc':'desc'}}"></i></th>
            <th>Email</th>
            <th>Mobile No</th>
            <th>Address1</th>
            <th>Address2</th>
            <th (click)="toggleSort('stateName')">State <i *ngIf="clicked" class="fa fa-sort-{{sortAsc===true? 'asc':'desc'}}"></i></th>
            <th (click)="toggleSort('cityName')">City <i *ngIf="clicked" class="fa fa-sort-{{sortAsc===true? 'asc':'desc'}}"></i></th>
            <th class="ms" (click)="toggleSort('genderName')">Gender &nbsp;<i *ngIf="clicked" class="fa fa-sort-{{sortAsc===true? 'asc':'desc'}}"></i></th>
            <th class="ms" (click)="toggleSort('maritalStatusName')">Marital &nbsp;Status <i *ngIf="clicked" class="fa fa-sort-{{sortAsc===true? 'asc':'desc'}}"></i></th>
            <th class="ms">Course</th>
            <th class="ms">Class</th>
            <th class="ms">Section</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let student of students | SortByName:'name'; let i = index">
            <td><span><input type="checkbox" [checked]="isSelected(student)" (change)="checkSelection(student)"></span></td>
            <td><span>{{getsn(i)}}</span></td>
            <td><span>{{student.code}}</span></td>
            <td><span>{{student.name}}</span></td>
            <td><span>{{student.email}}</span></td>
            <td><span>{{student.mobile}}</span></td>
            <td><span>{{student.address1}}</span></td>
            <td><span>{{student.address2}}</span></td>
            <td><span>{{student.stateName}}</span></td>
            <td><span>{{student.cityName}}</span></td>
            <td><span>{{student.genderName}}</span></td>
            <td><span>{{student.maritalStatusName}}</span></td>
            <td><span>{{student.courseName}}</span></td>
            <td><span>{{student.className}}</span></td>
            <td><span>{{student.sectionName}}</span></td>
            <td><p><button type="button" class="custom button1" [routerLink]="['/students','edit',student.id]" title="Edit"><i class="fa fa-pencil"></i></button></p>
            </td>
          </tr>
        </tbody>
      </table>    
    </div> -->
      <ag-grid-angular
        class="ag-theme-quartz"
        style="height: 326px;"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
        [rowSelection]="rowSelection"
        [rowMultiSelectWithClick]="true"
        (selectionChanged)="onSelectionChanged()"
        (gridReady)="onGridReady($event)"
        >
      </ag-grid-angular>
    <!-- <div class="page">
      <button class="custom button1" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1" title="Previous"><i class="fa fa-arrow-left"></i></button>
      <span class="pageno">Page {{ currentPage }}/{{totalpages}}</span>
      <button class="custom button1" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalpages"  title="Next"><i class="fa fa-arrow-right"></i></button>
    </div> -->
    <!-- <h5 *ngIf="!students||students.length<=0" class="alert alert-danger">Not Found!!</h5> -->
    </div>
    <app-footer></app-footer>
  </div>
  

