<div class="container-fluid main">
    <div class="main1">
      <div class="row">
        <div class="col-10"><h1 id="h1">User Management</h1></div>
        <div class="col-2"><h1 id="h1">{{ getLoggedInUserName() }}</h1></div>
      </div>
        <hr>
        <div class="row">
          <div class="col-2">
            <div class="rap">
              <button type="button" class="custom button1 ad" (click)="btnClick();" title="Add User"><i class="fa fa-plus"></i></button>  
              <button type="button" class="custom button2 ad del" (click)="confirmDialog();" [disabled]="selectedRecordIds.length === 0" title="Delete User"><i class="fa fa-trash "></i></button>
            </div>
          </div>
        <!-- <div class="table-responsive">
            <table id="students" *ngIf="users&&users.length>0">
              <thead>
                <tr>
                  <th style="padding-left: 1%;">Select</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>Role(s)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let user of users">
                  <td><span><input type="checkbox" [checked]="isSelected(user)" (change)="checkSelection(user)"></span></td>
                  <td><span>{{user.username}}</span></td>
                  <td><span>{{user.email}}</span></td>
                  <td><span>{{decryptpass(user.hashed_password)}}</span></td>
                  <td><span>{{user.role}}</span></td>
                </tr>
              </tbody>
            </table>    
          </div> -->
        <ag-grid-angular
        class="ag-theme-quartz"
        style="height: 309px; width: 100%;"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
        [rowSelection]="rowSelection"
        [rowMultiSelectWithClick]="true"
        (selectionChanged)="onSelectionChanged()"
        (gridReady)="onGridReady($event)"
        >
      </ag-grid-angular>
          <div class="page">
            <button type="button" class="custom button1 ad del" (click)="btnClick1();">Back</button>
          </div>
    </div>
    <app-footer></app-footer>
</div>
