*{
    margin: 0;
    padding:0;
    font-family: 'Asap',sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/images/background.jpg);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    font-size: 1rem;
    line-height: 1.6;
}
.custom {
    width: 78px !important;
}
.show{
    color: red;
}
.head{
    color:green;
}
.successmessage{
    margin-top: 10px;
    background-color: #4fd34f;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}
ul{
    list-style: none;
}
header{
    background-color: #82c0f7;
    padding: 0.5rem 0;
}
.footer{
    background-color: #82c0f7;
}
nav{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    position: relative;
}
.menu>li,.menu>a{
    display: inline-block;
}
.menu a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 5px 1.5rem;
    transition: background-color .22s ease ,.22s ease;
}

.menu a:hover{
    background-color: #8f7be9;
    color: #fff;
}
.submenu{
    position: absolute;
    background-color: #7e9ebe;
    width: 140px;
    left: 0;
    display: none;
}
.menu li:hover >.submenu{
    display: block;
    animation: up .3s ease;
}
@keyframes up{

    0%{
        opacity: 0;
        transform: translateY(18px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}


